{% for n in nodes.list %}
---
apiVersion: v1
kind: Secret
metadata:
  name: bmc-{{ n["Red Hat Core OS"] | regex_replace(':', '-',) }}
  namespace: {{ multicluster_engine_managed_cluster_baremetal.cluster_name }}-infraenv
stringData:
  username: '{{ bmc_username }}'
  password: '{{ bmc_password }}'
{% endfor %}

