---
apiVersion: v1
kind: Secret
metadata:
  name: pullsecret-{{ multicluster_engine_managed_cluster.cluster_name }}
  namespace: {{ cluster_namespace }}
stringData:
  .dockerconfigjson: '{{ redhat_cloud_pull_secret }}'
type: kubernetes.io/dockerconfigjson
---
apiVersion: v1
kind: Secret
metadata:
  name: pullsecret-{{ multicluster_engine_managed_cluster.cluster_name }}
  namespace: {{ infraenv_namespace }}
stringData:
  .dockerconfigjson: '{{ redhat_cloud_pull_secret }}'
type: kubernetes.io/dockerconfigjson
